body{
    margin: 0;
    background-color: #ccc;
}
h1{

}
h2{

}
h3{

}
h4{

}
h5{

}
h6{

}

a{
    text-decoration:  none;
}

li.item-menu-horizontal {
    float: right;
}
ul.menu-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
ul.menu-vertical {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #474747;
}
a.activa, li.activa {
    background-color: red;
}
li.item-menu-horizontal a, li.item-menu-vertical a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.item-menu-vertical a{
    display: block;
}

li.item-menu-horizontal:hover {
    background-color: #111;
}
li.item-menu-vertical:hover{
    background-color: red;
}
#sidebar, #productos{
    border: 1px solid black;
    padding: 0;
}

#logo{
    margin: 0 0 0 10px;

}
.header{
    width: 100%;
    border: 1px solid black;
}

.columna{
  border: 1px solid black;
}

.logo{
    width: 48px;
    height: 48px;
}

.title{
    background-color: #333;
    padding-top: 15px;
    padding-bottom: 15px; 
    margin: 0;
    color: white;
    font-size: 1.5em;
    border-bottom: 1px solid white;
}

.page-title{
    padding-top: 15px;
    padding-bottom: 15px; 
    margin: 0;
    color: red;
    font-size: 2em;
    text-decoration: underline;
}

div#productos.content.columna{
    background-color: #474747;
}

.producto{
    background-color: #ccc;
    padding: 0;
}
.imagen-producto{
    width: 100%;
    height: 200px;
    background-color: #000;
}
.titulo-producto{
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
}
.precio-producto{
    font-weight: bold;
}
.botones-producto{
    margin: 5px auto;
}
.ver-producto, .anadir-producto{
    color: white;
}
.ver-producto{
    background-color: black;
}
.anadir-producto{
    background-color: red;
}
.ver-producto:hover{
    background-color: rgba(26, 26, 26, 0.800);
}
.anadir-producto:hover{
    background-color: rgba(255, 26, 26, 0.800);
}

.desc-producto{
    text-align: justify;
    margin-top: 0;
    margin-bottom: 0;
}

.footer{
    background-color: #333;
    width: 100%;
    color: white;
    margin: 0;
    padding: 0 auto;
}

.col-footer{
    text-align: justify;
    padding: 15px;
    border: none;
}

#col1, #col2{
    border-right: 1px solid rgba(255, 255, 255, 0.253);
}

.justificado{
    text-align: justify;
}

.centrado{
    text-align: center;
}

.form-center{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    width: 50%;
}

.intput-text{
    padding: 5px;
    width: 100%;
    margin-top: 5px;
    border: 1px solid white;
}

label{
    font-weight: bold;
    /* margin-bottom: 5px; */
}
.boton{
    background-color: red;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    height: 40px;
}
#form-contacto{
    margin-top: 5%;
}